<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户管理</title>
</head>
<body>
<h1>单位管理</h1>
<h1><a href="/">返回首页</a></h1>
<table border="1">
    <tr>
            <th>客户名称</th>
            <th>单位名称</th>
            <th>单位税号</th>
            <th>本月订单</th>
            <th>合计订单</th>
            </tr>
    {% for i in custList %}
        {% for j in i.custer %}
            <tr>
            <th>{{ j.custer }}</th>
            <th>{{ j.unitName }}</th>
            <th>{{ j.unitPwd }}</th>
            <th><a href="/modifyUnit/{{ i.unit.id }}">修改</a></th>
            <th><a href="/deletUnit/{{ i.unit.id }}">删除</a></th>
            </tr>
        {% endfor %}
    {% endfor %}
    <p>
        <input type="button" id="add" value="增加" onclick="javascript:window.location.href='/addUnit'">
    </p>
</table>
</body>
</html>