<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户管理</title>
</head>
<body>
<h1>客户视图</h1>
<h1><a href="/">返回首页</a></h1>
<table border="1">
    <tr>
            <th>客户名称</th>
            <th>手机号</th>
            <th>微信号</th>
            <th>QQ号</th>
            <th>收货地址</th>
            <th>发票类型</th>
            <th>修改</th>
            <th>删除</th>
            </tr>
    {% for i in customer %}
        <tr>
        <th>{{ i.uname }}</th>
        <th>{{ i.uphone }}</th>
        <th>{{ i.uwei }}</th>
        <th>{{ i.uqq }}</th>
        <th>{{ i.uaddres }}</th>
        <th>{{ i.uchoice }}</th>
        <th><a href="/modifyCuster/{{ i.id }}">修改</a></th>
        <th><a href="/deletCuster/{{ i.id }}">删除</a></th>
        </tr>
    {% endfor %}
    <p>
        <input type="button" id="add" value="增加" onclick="javascript:window.location.href='/addUnit'">
    </p>
</table>
</body>
</html>