<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改客户</title>
</head>
<body>
<p><a href="/">返回首页</a></p>
    <form action="/modifyUnit1" method='post'>
        {%csrf_token%}
        <input type="hidden" name="id" value="{{custMess.id}}">
        <p>
            客户名称：<input type="text" name='uname' value="{{custMess.uname}}">
        </p>
        <p>
            手机号&nbsp;：<input type="text" name='uphone' value="{{custMess.uphone}}">
        </p>
        <p>
            微信号&nbsp;：<input type="text" name='uwei' value="{{custMess.uwei}}">
        </p>
        <p>
            QQ&nbsp;&nbsp;号：<input type="text" name='uqq' value="{{custMess.uqq}}">
        </p>
        <p>
            收货地址：<input type="text" name='uaddres' value="{{custMess.uaddres}}">
        </p>
        <p>
            发票类型：
            <select>
            {% ifequal custMess.uchoice "纸质发票" %}

                  <option value ="纸质发票">纸质发票</option>
                  <option value ="电子发票">电子发票</option>
            {% else %}
                  <option value ="电子发票">电子发票</option>
                  <option value ="纸质发票">纸质发票</option>
            {% endifequal %}
            </select>
        </p>
        <p>
            <input type="submit" value='保存'>
            <a href="/customer">退出</a>
        </p>
    </form>
</body>
</html>